In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt                       
import seaborn as sns
import plotly.express as px

# PreProcessing

In [4]:
train=pd.read_csv('../Datasets/train_kaggle.csv')
test=pd.read_csv('../Datasets/test_kaggle.csv')

main_train_backup=pd.read_csv('../Datasets/train_kaggle.csv',index_col='Customer_ID')
main_test_backup=pd.read_csv('../Datasets/test_kaggle.csv',index_col='Customer_ID')

C:\Users\Asus\AppData\Local\Temp\ipykernel_28436\235452377.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  train=pd.read_csv('../Datasets/train_kaggle.csv')
C:\Users\Asus\AppData\Local\Temp\ipykernel_28436\235452377.py:4: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  main_train_backup=pd.read_csv('../Datasets/train_kaggle.csv',index_col='Customer_ID')

In [5]:
luxury_sales_non_numeric_rows = train[pd.to_numeric(train['luxury_sales'], errors='coerce').isna()]
fresh_sales_non_numeric_rows = train[pd.to_numeric(train['fresh_sales'], errors='coerce').isna()]
dry_sales_non_numeric_rows = train[pd.to_numeric(train['dry_sales'], errors='coerce').isna()]

print("Rows where 'luxury_sales' contains non-numeric values:")
print(luxury_sales_non_numeric_rows)

print("\nRows where 'fresh_sales' contains non-numeric values:")
print(fresh_sales_non_numeric_rows)

print("\nRows where 'dry_sales' contains non-numeric values:")
print(dry_sales_non_numeric_rows)

Rows where 'luxury_sales' contains non-numeric values:
        Customer_ID             outlet_city  \
4234     10101878.0  Dehiwala-Mount Lavinia
4333     10361798.0                   Kotte
5375     10556752.0                Moratuwa
5408     10321643.0              Peliyagoda
78367    10424117.0                   Kotte
78380    10343473.0              Peliyagoda
80043    10774052.0                Kelaniya
174628   10207785.0                Kelaniya
175278   10347733.0              Peliyagoda
296621   10215937.0                Panadura
297911   10189925.0                Kelaniya
326593   10467590.0            Nuwara Eliya
327258   10615996.0                Kelaniya
327259   10346205.0  Dehiwala-Mount Lavinia
327260   10722463.0            Nuwara Eliya
327261   10221069.0                Panadura
329847   10328520.0                 Wattala
329848   10155003.0                Homagama
329849   10600486.0                   Kotte
352298   10703170.0  Dehiwala-Mount Lavinia
352662   10638607.0                Kaduwela
352663   10223839.0                Moratuwa
352664   10418282.0                Homagama
367935   10445384.0                   Galle
496140   10616379.0                 Colombo
497177   10537755.0                   Kandy
497245   10468127.0                   Kandy
497485   10751852.0                   Galle
554998   10420777.0                   Kandy
555305   10224685.0                 Gampaha
555469   10692500.0                 Negombo
555573   10294701.0             Trincomalee
555610   10262970.0                 Gampaha
555764   10335139.0              Batticaloa
558562   10076064.0             Trincomalee
722325   10109635.0                   Galle
723874   10387271.0                 Negombo
752560   10328899.0                 Gampaha
753131   10695296.0              Batticaloa
753275   10680540.0                 Gampaha
753276   10634600.0              Katunayake
753277   10140621.0                   Galle
753278   10659621.0                 Colombo
753454   10668547.0                Kalmunai
755630   10537627.0                 Gampaha

                               luxury_sales fresh_sales dry_sales  \
4234                                    NaN     1686.36   9556.04
4333                                    NaN         NaN   6589.44
5375                                    NaN     1328.88    7751.8
5408                                    NaN         NaN   3630.09
78367                                   NaN         NaN   3472.08
78380                                   NaN         NaN    7337.4
80043     One thousand four hundread ruppes      1118.0    5934.0
174628                                  NaN      9322.5   2683.75
175278                                  nul     4286.28       nul
296621                                  nul     8155.11       nul
297911               Eight hundread ruppess     4003.84   1059.84
326593              six hundread and hirty       3420.3    894.54
327258                                  NaN     8554.92   2073.92
327259                                  NaN      4391.1    940.95
327260                                  NaN     5384.92   1425.42
327261                                  NaN     7644.51    2215.8
329847                                  NaN     3189.78   3093.12
329848                                  NaN      4383.6   4821.96
329849                                  NaN     4666.24   4957.88
352298                                  NaN         NaN    1795.2
352662                                  NaN     2676.23   3021.55
352663                                  NaN     1985.24   2113.32
352664                                  NaN     4092.66   3968.64
367935                                  nul     1919.13   7563.63
496140                                  NaN      2783.7  12248.28
497177               Thousand tow hundread       2041.0    6939.4
497245      seven hundread and nine ruppees     1032.48   4194.45
497485                                  NaN     1179.18   4520.19
554998                                  NaN     1037.88       NaN
555305                                  NaN     2243.52       NaN
555469                                  NaN     3283.56       NaN
555573                                  NaN     3163.04  13047.54
555610                                  NaN     2035.85    7286.2
555764                                  NaN         NaN   9614.46
558562  Three thousand two hundread ruppess     10416.9   1923.12
722325                                  NaN     7809.12    1183.2
723874                                  NaN         NaN   1525.05
752560                                  NaN         NaN   3243.84
753131   Four thousand one hundread ruppess     4286.72   4034.56
753275                                  NaN        3688   3572.75
753276                                  NaN     5330.86    4703.7
753277                                  NaN      5135.7    4531.5
753278                                  NaN     3976.32   3852.06
753454                                  NaN         NaN   3074.88
755630                                  NaN     5371.37   5717.91

       cluster_catgeory
4234                  4
4333                  4
5375                  4
5408                  4
78367                 4
78380                 4
80043                 4
174628                2
175278                2
296621                2
297911                2
326593                2
327258                2
327259                2
327260                2
327261                2
329847                5
329848                5
329849                5
352298                5
352662                5
352663                5
352664                5
367935                2
496140                1
497177                1
497245                1
497485                5
554998              1.0
555305              1.0
555469              1.0
555573              1.0
555610              1.0
555764              1.0
558562              6.0
722325                6
723874                6
752560                6
753131                3
753275                3
753276                3
753277                3
753278                3
753454                3
755630                3

Rows where 'fresh_sales' contains non-numeric values:
        Customer_ID             outlet_city luxury_sales  \
4326     10531406.0                Kaduwela        925.8
4327     10311229.0                Panadura         2374
4333     10361798.0                   Kotte          NaN
4929     10414692.0                Kaduwela       1780.8
5379     10600529.0                 Wattala       1405.4
5403     10484539.0              Peliyagoda       1167.2
5408     10321643.0              Peliyagoda          NaN
78367    10424117.0                   Kotte          NaN
78380    10343473.0              Peliyagoda          NaN
78400    10504943.0                Moratuwa      2312.16
161810   10261075.0                Panadura       887.36
174714   10358037.0            Nuwara Eliya      1012.34
268571   10047014.0                Panadura       1808.3
326334   10006007.0                Kaduwela       758.52
326763   10301959.0                Kaduwela       950.62
326764   10671014.0              Peliyagoda       1066.8
326765   10687830.0              Peliyagoda      1340.08
327495   10099173.0                 Wattala      1303.92
327505   10312003.0                Kaduwela      1303.06
329931   10540582.0                Kaduwela      3139.06
352298   10703170.0  Dehiwala-Mount Lavinia          NaN
352658   10418309.0                Moratuwa      2164.05
354153   10210509.0                Kelaniya       3214.7
496138   10559183.0              Katunayake       656.28
497003   10367366.0                 Colombo       1621.8
497445   10168166.0              Katunayake       641.74
497446   10545713.0                   Kandy      1694.11
497447   10624363.0                 Negombo      1069.09
497598   10570526.0                 Gampaha      1328.74
555470   10403312.0                 Negombo      2732.94
555607   10488405.0                 Gampaha      1989.36
555764   10335139.0              Batticaloa          NaN
558897   10314616.0              Batticaloa      3027.36
628150   10608125.0              Katunayake       1160.9
695316   10028364.0                   Kandy      2410.08
722329   10119144.0                 Colombo      1260.48
723874   10387271.0                 Negombo          NaN
724767   10549421.0                  Jaffna      2255.68
724768   10092521.0                 Negombo       2501.1
724769   10477511.0                 Colombo      2420.96
752560   10328899.0                 Gampaha          NaN
752816   10369123.0             Trincomalee      5501.57
753256   10369199.0                 Colombo       2692.8
753378   10390803.0                 Negombo       3517.3
753379   10199267.0             Trincomalee      6552.14
753380   10698117.0                 Negombo      2917.12
753454   10668547.0                Kalmunai          NaN
753696   10090034.0                Kalmunai       6002.7
754304   10006333.0              Batticaloa      3932.66
765777   10499622.0              Katunayake      5315.57

                                fresh_sales dry_sales cluster_catgeory
4326                                    NaN    4011.8                4
4327                                    NaN    7715.5                4
4333                                    NaN   6589.44                4
4929                                    NaN       NaN                4
5379                                    NaN   4637.82                4
5403                                    NaN    4085.2                4
5408                                    NaN   3630.09                4
78367                                   NaN   3472.08                4
78380                                   NaN    7337.4                4
78400                                   NaN       NaN                4
161810         Six hundread and five ruppes    3604.9                4
174714                                  nul    1446.2                2
268571                                  nul       nul                2
326334     Three thousana and five hundread   1029.42                2
326763                                  NaN   1469.14                2
326764                                  NaN    1295.4                2
326765                                  NaN   1818.68                2
327495                                  nul       nul                2
327505                                  nul       nul                2
329931                                  NaN       NaN                5
352298                                  NaN    1795.2                5
352658                                  NaN   1916.73                5
354153                                  NaN    3025.6                5
496138                                  NaN   3554.85                1
497003                                  NaN       NaN                1
497445                                  NaN   3850.44                1
497446                                  NaN  10164.66                1
497447                                  NaN   6317.35                1
497598                                  NaN   6264.06                1
555470                                  NaN  12883.86              1.0
555607                                  NaN   10775.7              1.0
555764                                  NaN   9614.46              1.0
558897             thirteen thousand ruppes   2081.31              6.0
628150                                  NaN     794.3              6.0
695316                                  NaN   1656.93                6
722329                                  NaN    945.36                6
723874                                  NaN   1525.05                6
724767                                  NaN   1305.92                6
724768                                  NaN   2334.36                6
724769                                  NaN   1815.72                6
752560                                  NaN   3243.84                6
752816                 Five thousand ruppes   5679.04                3
753256  Two thousand seven hundread ruppess    2861.1                1
753378                                  NaN   3206.95                3
753379                                  NaN   6166.72                3
753380                                  NaN   3099.44                3
753454                                  NaN   3074.88                3
753696                                  NaN       NaN                3
754304                                  NaN   4186.38                3
765777                                  NaN   5829.98                3

Rows where 'dry_sales' contains non-numeric values:
        Customer_ID             outlet_city luxury_sales fresh_sales  \
4929     10414692.0                Kaduwela       1780.8         NaN
78400    10504943.0                Moratuwa      2312.16         NaN
148029   10190107.0  Dehiwala-Mount Lavinia        931.5       931.5
174631   10273730.0                Homagama      1074.36     5141.58
174720   10039004.0                Kaduwela       944.44      4722.2
175278   10347733.0              Peliyagoda          nul     4286.28
268571   10047014.0                Panadura       1808.3         nul
296621   10215937.0                Panadura          nul     8155.11
327168   10649653.0                   Kotte       626.16     3548.24
327169   10737280.0            Nuwara Eliya        820.2      5741.4
327170   10010850.0              Peliyagoda      1059.96     6456.12
327171   10347930.0                Homagama       1216.8     5353.92
327172   10351890.0                 Wattala       1817.2      8826.4
327173   10025449.0            Nuwara Eliya      1341.72     7491.27
327174   10638161.0              Peliyagoda       1033.2      5018.4
327495   10099173.0                 Wattala      1303.92         nul
327505   10312003.0                Kaduwela      1303.06         nul
329931   10540582.0                Kaduwela      3139.06         NaN
345090   10186598.0              Peliyagoda       1773.1     1616.65
345091   10215208.0  Dehiwala-Mount Lavinia      4879.68     4592.64
345092   10530946.0                 Wattala      3713.82     3713.82
353317   10659375.0                 Wattala       2591.7     2937.26
496135   10501123.0                 Gampaha      2064.79     2858.94
497003   10367366.0                 Colombo       1621.8         NaN
497464   10155270.0                 Colombo       759.78      1085.4
497583   10234709.0                   Kandy      2139.06     3305.82
497597   10345956.0                 Gampaha      1806.96     2710.44
554998   10420777.0                   Kandy          NaN     1037.88
555305   10224685.0                 Gampaha          NaN     2243.52
555469   10692500.0                 Negombo          NaN     3283.56
555536   10092366.0              Batticaloa      2137.74     3692.46
555604   10063564.0                   Galle      2196.84     3112.19
753448   10460776.0                 Colombo       4479.5        4624
753449   10396264.0                 Colombo         2388      2547.2
753450   10178858.0                 Gampaha       6640.2     6071.04
753696   10090034.0                Kalmunai       6002.7         NaN
754306   10726566.0                  Jaffna      2728.95     2417.07
774147   10493702.0              Katunayake      2624.65      2249.7

                                    dry_sales cluster_catgeory
4929                                      NaN                4
78400                                     NaN                4
148029  Four thousand and two hundread ruppes                4
174631                                    nul                2
174720                                    nul                2
175278                                    nul                2
268571                                    nul                2
296621                                    nul                2
327168                                    NaN                2
327169                                    NaN                2
327170                                    NaN                2
327171                                    NaN                2
327172                                    NaN                2
327173                                    NaN                2
327174                                    NaN                2
327495                                    nul                2
327505                                    nul                2
329931                                    NaN                5
345090                                    NaN                5
345091                                    NaN                5
345092                                    NaN                5
353317                                    NaN                5
496135                                    NaN                1
497003                                    NaN                1
497464                                    NaN                1
497583                                    NaN                1
497597                                    NaN                1
554998                                    NaN              1.0
555305                                    NaN              1.0
555469                                    NaN              1.0
555536                                    NaN              1.0
555604                                    NaN              1.0
753448                                    NaN                3
753449                                    NaN                3
753450                                    NaN                3
753696                                    NaN                3
754306                                    NaN                3
774147                                    NaN                3

In [6]:
luxury_sales_non_numeric_rows = test[pd.to_numeric(test['luxury_sales'], errors='coerce').isna()]
fresh_sales_non_numeric_rows = test[pd.to_numeric(test['fresh_sales'], errors='coerce').isna()]
dry_sales_non_numeric_rows = test[pd.to_numeric(test['dry_sales'], errors='coerce').isna()]

print("Rows where 'luxury_sales' contains non-numeric values:")
print(luxury_sales_non_numeric_rows)

print("\nRows where 'fresh_sales' contains non-numeric values:")
print(fresh_sales_non_numeric_rows)

print("\nRows where 'dry_sales' contains non-numeric values:")
print(dry_sales_non_numeric_rows)

Rows where 'luxury_sales' contains non-numeric values:
      Customer_ID   outlet_city                       luxury_sales  \
6           10364    batticaloa   Seven Hundread and sixty Ruppees
6299         4059  Anuradhapura  Eight Hundread and fifteen ruppes

     fresh_sales dry_sales
6          914.4    3352.8
6299     1548.69    5705.7

Rows where 'fresh_sales' contains non-numeric values:
       Customer_ID outlet_city luxury_sales            fresh_sales dry_sales
13949        28662      Jaffna      2195.84  Nine thousand ruppess   1509.64

Rows where 'dry_sales' contains non-numeric values:
       Customer_ID outlet_city luxury_sales fresh_sales  \
40746        28664     Wattala       3838.6      3951.5

                                   dry_sales
40746  Three Thousand seven hundread ruppees

In [7]:
# Mapping dictionary for specific textual representations to numbers
text_to_number_mapping = {
    'one thousand four hundread ruppes': 1400,
    'eight hundread ruppess': 800,
    'six hundread and hirty ': 630,
    'thousand tow hundread ': 1200,
    'seven hundread and nine ruppees': 709,
    'three thousand two hundread ruppess': 3200,
    'six hundread and thirty': 630,
    'six hundread and five ruppes': 605,
    'three thousana and five hundread': 3500,
    'thirteen thousand ruppes': 13000,
    'five thousand ruppes': 5000,
    'two thousand seven hundread ruppess': 2700,
    'four thousand one hundread ruppess': 4100,
    'four thousand and two hundread ruppes': 4200,
    'seven hundread and sixty ruppees' : 760,
    'eight hundread and fifteen ruppes' : 815,
    'nine thousand ruppess' : 9000,
    'three thousand seven hundread ruppees' : 3700
}

# Function to convert specific textual representations to numbers
def text_to_number(text):
    if pd.isna(text):
        return text
    if isinstance(text, str):
        text = text.lower()
        if text == 'nul':
            return float('nan')  # Convert 'nul' to NaN
        return text_to_number_mapping.get(text, text)
    else:
        return text

In [8]:
train['luxury_sales'] = train['luxury_sales'].apply(text_to_number)
train['fresh_sales'] = train['fresh_sales'].apply(text_to_number)
train['dry_sales'] = train['dry_sales'].apply(text_to_number)

test['luxury_sales'] = test['luxury_sales'].apply(text_to_number)
test['fresh_sales'] = test['fresh_sales'].apply(text_to_number)
test['dry_sales'] = test['dry_sales'].apply(text_to_number)

In [9]:
def get_numerical_summary(df):
    total = train.shape[0]
    missing_columns = [col for col in train.columns if train[col].isnull().sum() > 0]
    missing_percent = {}
    for col in missing_columns:
        null_count = train[col].isnull().sum()
        per = (null_count/total) * 100
        missing_percent[col] = per
        print("{} : {} ({}%)".format(col, null_count, round(per, 3)))
    return missing_percent

get_numerical_summary(train)

Customer_ID : 2 (0.0%)
outlet_city : 2 (0.0%)
luxury_sales : 38 (0.005%)
fresh_sales : 45 (0.006%)
dry_sales : 37 (0.005%)
cluster_catgeory : 1 (0.0%)

{'Customer_ID': 0.00025834619682105003,
 'outlet_city': 0.00025834619682105003,
 'luxury_sales': 0.0049085777395999515,
 'fresh_sales': 0.005812789428473626,
 'dry_sales': 0.0047794046411894255,
 'cluster_catgeory': 0.00012917309841052501}

In [10]:
print(train['outlet_city'].value_counts())
print(test['outlet_city'].value_counts())

train['outlet_city'] = train['outlet_city'].str.lower()
test['outlet_city'] = test['outlet_city'].str.lower()
test['outlet_city'].value_counts()

test.outlet_city[test.outlet_city=='trincomale']='trincomalee'
train['cluster_catgeory'].value_counts()

train['cluster_catgeory'] = train['cluster_catgeory'].astype(str)
train['cluster_catgeory'] = train['cluster_catgeory'].str.strip().str.replace('\\', '')
train['cluster_catgeory'] = train['cluster_catgeory'].replace(['100.0', '98', '95', '89.0', '99'], np.nan)
train['cluster_catgeory'] = pd.to_numeric(train['cluster_catgeory'], errors='coerce')
cluster_category_counts = train['cluster_catgeory'].value_counts()
train = train.dropna()

print(cluster_category_counts)

outlet_city
Colombo                   41031
Batticaloa                41012
Galle                     41010
Kalmunai                  40711
Negombo                   40703
Jaffna                    40675
Katunayake                40649
Kandy                     40534
Trincomalee               40528
Gampaha                   40252
Peliyagoda                37151
Nuwara Eliya              37102
Dehiwala-Mount Lavinia    36839
Kotte                     36788
Panadura                  36726
Wattala                   36721
Kaduwela                  36695
Homagama                  36639
Moratuwa                  36417
Kelaniya                  35970
Name: count, dtype: int64
outlet_city
Jaffna                    2226
Gampaha                   2198
Katunayake                2157
Negombo                   2129
Kandy                     2101
Colombo                   2092
Dehiwala-Mount Lavinia    1981
Nuwara Eliya              1963
Kaduwela                  1943
Wattala                   1938
Kelaniya                  1934
Homagama                  1930
Peliyagoda                1839
Trincomale                1814
Panadura                  1810
Batticaloa                1671
Anuradhapura              1645
Kalmunai                  1634
Moratuwa                  1563
Madawachiya               1499
kalmunai                   599
Galle                      456
batticaloa                 448
Kotte                      379
MoraTuwa                   340
Trincomalee                258
PeliyagodA                 202
Name: count, dtype: int64

C:\Users\Asus\AppData\Local\Temp\ipykernel_28436\849757864.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test.outlet_city[test.outlet_city=='trincomale']='trincomalee'
C:\Users\Asus\AppData\Local\Temp\ipykernel_28436\849757864.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.outlet_city[test.outlet_city=='trincomale']='trincomalee'

cluster_catgeory
1.0    188984
4.0    172439
6.0    169215
2.0    155064
3.0     48907
5.0     39540
Name: count, dtype: int64

In [11]:
train.outlet_city.unique()

array(['kelaniya', 'moratuwa', 'wattala', 'homagama',
       'dehiwala-mount lavinia', 'panadura', 'kaduwela', 'peliyagoda',
       'kotte', 'nuwara eliya', 'batticaloa', 'colombo', 'jaffna',
       'gampaha', 'kalmunai', 'galle', 'katunayake', 'negombo',
       'trincomalee', 'kandy'], dtype=object)

In [12]:
test.outlet_city.unique()

array(['batticaloa', 'colombo', 'dehiwala-mount lavinia', 'anuradhapura',
       'galle', 'gampaha', 'homagama', 'jaffna', 'kaduwela', 'kalmunai',
       'kandy', 'katunayake', 'kelaniya', 'madawachiya', 'kotte',
       'moratuwa', 'negombo', 'nuwara eliya', 'panadura', 'peliyagoda',
       'trincomalee', 'wattala'], dtype=object)

In [13]:
train['Customer_ID'] = train['Customer_ID'].astype(int)
train['luxury_sales'] = train['luxury_sales'].astype(float)
train['fresh_sales'] = train['fresh_sales'].astype(float)
train['dry_sales'] = train['dry_sales'].astype(float)

new_category = ['madawachiya', 'anuradhapura']
train['outlet_city'] = train['outlet_city'].astype('category')
train['outlet_city'] = train['outlet_city'].cat.add_categories(new_category)
train['cluster_catgeory'] = train['cluster_catgeory'].astype('int')

test['Customer_ID'] = test['Customer_ID'].astype(int)
test['luxury_sales'] = test['luxury_sales'].astype(float)
test['fresh_sales'] = test['fresh_sales'].astype(float)
test['dry_sales'] = test['dry_sales'].astype(float)
test['outlet_city'] = test['outlet_city'].astype('category')

In [14]:
train.outlet_city.unique()

['kelaniya', 'moratuwa', 'wattala', 'homagama', 'dehiwala-mount lavinia', ..., 'galle', 'katunayake', 'negombo', 'trincomalee', 'kandy']
Length: 20
Categories (22, object): ['batticaloa', 'colombo', 'dehiwala-mount lavinia', 'galle', ..., 'trincomalee', 'wattala', 'madawachiya', 'anuradhapura']

In [15]:
duplicates_train=train[train.duplicated()].shape[0]
duplicates_test=test[test.duplicated()].shape[0]

print(duplicates_train)
print(duplicates_test)

0
0

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40749 entries, 0 to 40748
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer_ID   40749 non-null  int32
 1   outlet_city   40749 non-null  category
 2   luxury_sales  40749 non-null  float64
 3   fresh_sales   40749 non-null  float64
 4   dry_sales     40749 non-null  float64
dtypes: category(1), float64(3), int32(1)
memory usage: 1.1 MB

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 774047 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       774047 non-null  int32
 1   outlet_city       774047 non-null  category
 2   luxury_sales      774047 non-null  float64
 3   fresh_sales       774047 non-null  float64
 4   dry_sales         774047 non-null  float64
 5   cluster_catgeory  774047 non-null  int32
dtypes: category(1), float64(3), int32(2)
memory usage: 30.3 MB

In [18]:
from sklearn.model_selection import train_test_split

df = train.drop(columns=['Customer_ID'])
X = df.drop(columns=['cluster_catgeory'])
y = train['cluster_catgeory']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 619237 entries, 186980 to 121971
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   outlet_city   619237 non-null  category
 1   luxury_sales  619237 non-null  float64
 2   fresh_sales   619237 non-null  float64
 3   dry_sales     619237 non-null  float64
dtypes: category(1), float64(3)
memory usage: 19.5 MB

# Logistic Regression

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV

# Define the columns to be encoded and scaled
categorical_columns = ['outlet_city']
num_columns = ['luxury_sales', 'fresh_sales', 'dry_sales']

# Label encode the target variable
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

# Create a column transformer to apply one-hot encoding and scaling
column_transformer = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore'), categorical_columns),
    ('scaler', StandardScaler(), num_columns)
], remainder='passthrough')

# Create the pipeline with a KNeighborsClassifier
pipeline = Pipeline([
    ('preprocessor', column_transformer),
])

x_transformed=pipeline.fit_transform(X_train)
grid={"C":np.logspace(-3,3,7),
      "penalty":["l1","l2"],
      "solver":["liblinear","saga"]
      }# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg,grid,cv=10,n_jobs = -1)
logreg_cv.fit(x_transformed, y_train)

print("tuned hpyerparameters :(best parameters) ",logreg_cv.best_params_)
print("accuracy :",logreg_cv.best_score_)

# Decision Tree Classifier

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV

# Define the columns to be encoded and scaled
categorical_columns = ['outlet_city']
num_columns = ['luxury_sales', 'fresh_sales', 'dry_sales']

# Label encode the target variable
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

# Create a column transformer to apply one-hot encoding and scaling
column_transformer = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore'), categorical_columns),
    ('scaler', StandardScaler(), num_columns)
], remainder='passthrough')

# Create the pipeline with a KNeighborsClassifier
pipeline = Pipeline([
    ('preprocessor', column_transformer),
])

x_transformed=pipeline.fit_transform(X_train)
grid = {'max_features': ['auto', 'sqrt', 'log2'],
        'ccp_alpha': [0.1, .01, .001],
        'max_depth' : [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
        'criterion' :['gini', 'entropy'],
             }
tree=DecisionTreeClassifier()
tree_cv=GridSearchCV(tree,grid,cv=10,n_jobs = -1)
tree_cv.fit(x_transformed, y_train)

print("tuned hpyerparameters :(best parameters) ",tree_cv.best_params_)
print("accuracy :",tree_cv.best_score_)

# KNN

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV

# Define the columns to be encoded and scaled
categorical_columns = ['outlet_city']
num_columns = ['luxury_sales', 'fresh_sales', 'dry_sales']

# Label encode the target variable
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

# Create a column transformer to apply one-hot encoding and scaling
column_transformer = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore'), categorical_columns),
    ('scaler', StandardScaler(), num_columns)
], remainder='passthrough')

# Create the pipeline with a KNeighborsClassifier
pipeline = Pipeline([
    ('preprocessor', column_transformer),
])

x_transformed=pipeline.fit_transform(X_train)
grid = {
    'classifier__n_neighbors': [3, 5, 7, 9, 11]
    }
knn=KNeighborsClassifier()
knn_cv=GridSearchCV(tree,grid,cv=10,n_jobs = -1)
knn_cv.fit(x_transformed, y_train)

print("tuned hpyerparameters :(best parameters) ",knn_cv.best_params_)
print("accuracy :",knn_cv.best_score_)

# Random Forrest Classifier

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
# Number of trees in random forest
from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 5)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 5)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(param_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier(random_state=100)
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = param_grid, n_iter = 50, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_transformed, y_train)

# Naive Bayes Classifier